<!-- Nav -->
{{ $data := index .Site.Data .Site.Language.Lang }}
{{ $currentPage := .Page }}
<nav id="nav">
    <ul class="links">
        <li class="{{ if eq ($currentPage.RelPermalink) (`/`) }}active{{end}}"><a href='{{ "/" | relLangURL }}' class="nav-link"><span class="nav-icon fa fa-home"></span>Главная</a></li>
        {{- with $data.nav.items -}}
            {{- range $i, $e := . -}}
                <li class="{{ if eq ($currentPage.RelPermalink) (print .url `/`) }}active{{end}}"><a href='{{ .url | relLangURL }}' class="nav-link"><span class="nav-icon fa {{ .icon }}"></span>{{- .title -}}</a></li>
            {{- end -}}
        {{- end -}}
    </ul>
    {{ with $data.social }}
    <ul class="icons">
        {{ with .telegram }}
        <li><a href="{{ . }}" class="icon fa-telegram"><span class="label">Telegram</span></a></li>
        {{ end }}
        {{ with .youtube }}
        <li><a href="{{ . }}" class="icon fa-youtube"><span class="label">Youtube</span></a></li>
        {{ end }}
    </ul>
    {{ end }}
</nav>

<!-- Mobile Bottom Tab Bar -->
<nav id="navBottomBar">
    <a href='{{ "/" | relLangURL }}' class="{{ if eq ($currentPage.RelPermalink) (`/`) }}active{{end}}">
        <span class="btb-icon fa fa-home"></span><span class="btb-label">Главная</span>
    </a>
    {{- with $data.nav.items -}}
        {{- range $i, $e := . -}}
    <a href='{{ .url | relLangURL }}' class="{{ if eq ($currentPage.RelPermalink) (print .url `/`) }}active{{end}}">
        <span class="btb-icon fa {{ .icon }}"></span><span class="btb-label">{{ .short | default .title }}</span>
    </a>
        {{- end -}}
    {{- end -}}
</nav>
