<!-- Posts -->
{{ $data := .siteData }}
<section class="posts">
    {{ range .posts.Pages }}
    <article>
        <header>
            {{ if and (not .Date.IsZero) (not .Params.pinned) }}
            <span class="date">{{ partial "format-date-ru.html" .Date }}</span>
            {{ end }}
            <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        </header>
        {{ if .Params.image }}
        <a href="{{ .Permalink }}" class="image main"><img src="{{ .Params.image | relURL }}" alt="" /></a>
        {{ end }}
        {{ if .Description }}
        <p>{{ .Description }}</p>
        {{ else }}
        <p>{{ .Summary }}</p>
        {{ end }}
        <ul class="actions">
            <li><a href="{{ .Permalink }}" class="button">{{ $data.post.linktext }}</a></li>
        </ul>
    </article>
    {{ end }}
</section>
