<!-- Nav -->
{{ $data := index .Site.Data .Site.Language.Lang }}
{{ $currentPage := .Page }}
<nav id="nav">
    <ul class="links">
        <li class="{{ if eq ($currentPage.RelPermalink) (`/`) }}active{{end}}">
            <a href='{{ "/" | relLangURL }}' class="nav-link">
                <i class="icon fa-home nav-icon"></i>
                <span>Главная</span>
            </a>
        </li>
        {{- with $data.nav.items -}}
            {{- range $i, $e := . -}}
                <li class="{{ if eq ($currentPage.RelPermalink) (print .url `/`) }}active{{end}}">
                    <a href='{{ .url | relLangURL }}' class="nav-link">
                        {{- with .icon -}}<i class="icon {{ . }} nav-icon"></i>{{- end -}}
                        <span>{{- .title -}}</span>
                    </a>
                </li>
            {{- end -}}
        {{- end -}}
        {{ with $data.contactinfo }}
        {{ end }}
        {{ if .IsTranslated }}
        {{ range .AllTranslations }}
        <li {{if eq ($.Site.Language) (.Language)}}class="active"{{end}}><a href='{{ .Permalink }}'>{{ .Language.LanguageName }}</a></li>
        {{ end }}
        {{ end }}
    </ul>
    {{ with $data.social }}
    <ul class="icons">
        {{ with .telegram }}
        <li><a href="{{ . }}" class="icon fa-telegram"><span class="label">Telegram</span></a></li>
        {{ end }}
        {{ with .youtube }}
        <li><a href="{{ . }}" class="icon fa-youtube"><span class="label">Youtube</span></a></li>
        {{ end }}
    </ul>
    {{ end }}
</nav>
